// Light Theme
$bg-light-color: #eee;
$task-light-color: #ddd;
$text-light-color: #60626e;

// Dark Theme
$bg-dark-color: #181824;
$task-dark-color: #25273c;
$text-primary-dark-color: #dfdfdf;
$text-secondary-dark-color: #6b7280;

$complete-color: #0284c7;

$gradient: linear-gradient(135deg, rgba(87, 221, 255, 1) 20%, rgba(192, 88, 243, 1) 90%);